<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{style.css}">

    <script  src="webjars/bootstrap/4.1.3/js/bootstrap.bundle.js"></script>
    <title>author</title>
</head>
<body>



<div layout:fragment="content" class="landing">


        <div class="row_landing">


            <div class="info_landing">
                <h2>Welcome to document management system</h2>
               <p>
                   Welcome to our document management website, designed to help individuals
                   and organizations manage their documents efficiently and securely.
                   Our platform provides a centralized location for storing, organizing,
                   and sharing important documents, such as contracts, invoices, and legal paperwork.
               </p>
            </div>



            <div class="img_landing">

                <img th:src="@{doc.jpg}" />

            </div>








        </div>






</div>



</body>
</html>